<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
    <h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <title><ui:insert name="title" /></title>
		<h:outputStylesheet library="css" name="default.css" />
    </h:head>
    <h:body>
		<p:layout fullPage="true">
			<p:layoutUnit id="top" position="north" size="50">
				<ui:insert name="menu">
					<h:form>
						<p:menubar autoDisplay="false" model="#{homeController.menuModel}"/>
					</h:form>
				</ui:insert>
			</p:layoutUnit>
			<p:layoutUnit id="bottom" position="south" size="#{heightRodape}">
				<ui:insert name="rodape"/>
			</p:layoutUnit>
			<p:layoutUnit id="center" position="center">
				<ui:insert name="centerContent"/>
			</p:layoutUnit>
		</p:layout>
    </h:body>
</html>

