<!DOCTYPE html>
<div class="ui-panel ui-widget ui-widget-content ui-corner-all">
    <div class="ui-panel-content ui-widget-content">
        <div class="ui-datatable ui-widget">
            <table role="grid">
                <thead>
                    <tr>
                        <th class="ui-widget-header"><div class="ui-dt-c"><span>C&oacute;digo</span></div></th>
                        <th class="ui-widget-header"><div class="ui-dt-c"><span>Descri&ccedil;&atilde;o</span></div></th>
                        <th class="ui-widget-header"><div class="ui-dt-c"><span>Valor</span></div></th>
                        <th class="ui-widget-header"><div class="ui-dt-c"><span></span></div></th>
                    </tr>
                </thead>
                <tbody class="ui-datatable-data ui-widget-content">
                    <% list(lista, function( itemLista ){ %>
                        <tr class="ui-widget-content ui-datatable-even">
                            <td role="gridcell"><div class="ui-dt-c"><%= itemLista.attr("id") %></div></td>
                            <td role="gridcell"><div class="ui-dt-c"><%= itemLista.attr("descricao") %></div></td>
                            <td role="gridcell"><div class="ui-dt-c"><%= itemLista.attr("valor") %></div></td>
                            <td role="gridcell"><div class="ui-dt-c">
                                    <button class="btnEditar" <%= (el)-> el.button({icons: {primary: "ui-icon-pencil"},text: false}); el.data("item", itemLista);%>>Editar</button>
                                    <button class="btnExcluir" <%= (el)-> el.button({icons: {primary: "ui-icon-close"},text: false}); el.data("item", itemLista);%>>Excluir</button>
                                </div>
                            </td>
                        </tr>
                    <% } ) %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui-panel-footer ui-widget-content">
        <button class="btnNovo">Novo</button>
    </div>
</div>

<div style="display: none;" id="ui-app-dialog" title="Novo Registro">
    <div class="ui-panel-form ui-helper-clearfix">
        <% if (this.attr('item')) { %>
            <div class="ui-form-label">C&oacute;digo:</div>
            <div class="ui-form-field">
                <input id="form2:codigo" type="text" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" disabled="disabled" readonly="readonly" style="width: 150px;" <%= item.attr("id") ? "value='" + item.id + "'" : "" %>>
            </div>

            <div class="ui-form-label">Descri&ccedil;&atilde;o:</div>
            <div class="ui-form-field">
                <input id="form2:descricao" type="text" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" style="width: 300px;" <%= item.attr("descricao") ? "value='" + item.descricao + "'" : "" %>>
            </div>

            <div class="ui-form-label">Valor:</div>
            <div class="ui-form-field">
                <input id="form2:valor" type="text" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" style="width: 150px;" <%= item.attr("valor") ? "value='" + item.valor + "'" : "" %>>
            </div>
        <% } %>
        
        <div class="ui-form-footer">
            <button class="btnSalvar">Salvar</button>
        </div>
    </div>
</div>