.ui-layout-north {
	z-index:20 !important;
	overflow:visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow:visible !important;
}

.ui-widget-content.ui-datatable-empty-message td{
	text-align: center;
}