.pgr {
    height: 41px;
}
.pgr td {
    vertical-align: middle;
}
.pgr .pgr-vl {
    padding-left: 1em;
}

.ui-dt-c {text-align: center;}

.ui-accordion-app.ui-accordion .ui-accordion-header a {font-size: 1.2em;}
.ui-panel-full.ui-panel .ui-panel-title {font-size: 1.4em;}

.ui-outputlabel { font-weight: bold; color: #1C94C4; }

.ui-accordion-content.ui-widget-content {
    border: 1px solid #DDD;
}

#accordion .ui-accordion-content {
    margin-bottom: 5px; overflow: hidden;
}