.ui-panel { padding: 0.2em; }
.ui-panel .ui-panel-titlebar { padding: 0.5em 1em 0.3em; }
.ui-panel .ui-panel-title { margin: 0.1em 16px 0.2em 0; }
.ui-panel-full.ui-panel .ui-panel-title { font-size: 1.4em; }
.ui-panel .ui-panel-content { border: 0; background: none; padding: 0.5em 1em; }
.ui-panel .ui-panel-footer { border-width: 1px 0 0; margin: 0.5em 0 0; padding: 0.5em 1em; text-align: left; }

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {font-weight: normal;}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield, .ui-state-default.ui-combobox-input{ background: white; -moz-box-shadow: inset 0 2px 2px #8f8f8f; -webkit-box-shadow: inset 0 2px 2px #8F8F8F; box-shadow: inset 0 2px 2px #8F8F8F; color: #2E6E9E; }
.ui-inputfield { margin: 0; outline: medium none; padding: 4px; font-weight: normal; }
.ui-inputfield.ui-inputtext.ui-state-focus{-moz-box-shadow:0px 0px 5px #79b7e7, inset 0 2px 2px #8f8f8f;-webkit-box-shadow:0px 0px 5px #79b7e7, inset 0 2px 2px #8f8f8f;box-shadow:0px 0px 5px #79b7e7, inset 0 2px 2px #8f8f8f;}


.ui-panel-form .ui-form-label, .ui-panel-form .ui-form-field { float: left; line-height: 2.2em; padding-top: 5px;}
.ui-panel-form .ui-form-label {clear: both; width: 15%; font-weight: bold; color: #1C94C4;}
.ui-panel-form .ui-form-footer {clear: both; padding-top: 10px;}
#ui-app-dialog .ui-panel-form .ui-form-label {width: 25%;}

.ui-combobox { position: relative; display: inline-block; }
.ui-combobox-toggle {
    position: absolute; top: 0; bottom: 0; margin-left: -1px; padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}
.ui-combobox-input { margin: 0; padding: 0.3em; }

.ui-datepicker-trigger .ui-button-text {padding: 0.2em;}

.ui-datatable table { border-collapse: collapse; width: 100%; }
.ui-datatable th div.ui-dt-c, .ui-datatable .ui-datatable-data td div.ui-dt-c, .ui-datatable .ui-datatable-data-empty td div.ui-dt-c, .ui-datatable tfoot td div.ui-dt-c { padding: 4px 10px; overflow: hidden; }
.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td { border-width: 1px; border-style: solid; border-color: inherit; padding: 0px; margin: 0px; overflow: hidden; }
.ui-datatable div.ui-dt-c { position: relative; }
.ui-dt-c { text-align: center; }

.ui-accordion-app .ui-accordion-content { margin-bottom: 5px; }