<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      contentType="text/html" encoding="UTF-8">
<html>
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Popup With State Transition (Step 2)</title>
</h:head>
<h:body>
	<h1>Step 2</h1>
	<p>Confirmations: ${counter.confirmations}, Cancellations: ${counter.cancellations}</p>
	<hr/>
	<h:form>	
	    <a4j:commandButton value="&lt;&lt; Back" action="return" />&nbsp;
	    <a4j:commandButton value="End Flow" action="finish" />  
	</h:form>	
</h:body>
</html>
</f:view>