<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      contentType="text/html" encoding="UTF-8">
<html>
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Popup With State Transition (Step 1)</title>
</h:head>
<h:body>
<h1>Step 1</h1>
<hr/>
	<h:form>	
		<h:messages />  
		<h:panelGrid>
			<p>Confirmations: ${counter.confirmations}, Cancellations: ${counter.cancellations}</p>
		    <a4j:commandButton value="To Step 2" action="confirm" />  
		</h:panelGrid>
	</h:form>
</h:body>
</html>
</f:view>