<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				template="/templates/principal.xhtml"
				xmlns:f="http://java.sun.com/jsf/core">
 	
	<ui:define name="centerContent">
		
		<f:metadata>
			<f:event type="preRenderView" listener="#{controller.listar}"/>
		</f:metadata>
		
		<ui:insert name="formPesquisa">
			<h:form id="formPesquisa">
				
				<p:panel>
					<p:panelGrid columns="2">
						<ui:insert name="gridPesquisa"/>
					</p:panelGrid>
				</p:panel>
				
				
				<p:commandButton value="Pesquisar" process="@form" action="#{controller.pesquisar}" update=":formLista:table"/>
			</h:form>
		</ui:insert>
		
		<h:form id="formLista">
			<p:dataTable id="table" value="#{controller.lista}" emptyMessage="#{emptyMessage}" var="linha">

				<f:facet name="header">
					<ui:insert name="titleTable"/>
				</f:facet>

				<ui:insert name="tableColumns"/>

				<p:column rendered="#{showEdit}">
					<p:commandButton value="Editar" ajax="false" action="#{controller.editar}">
						<f:setPropertyActionListener value="#{linha.id}" target="#{controller.id}"/>
					</p:commandButton>
				</p:column>

			</p:dataTable>

			<p:commandButton value="Novo" action="#{controller.novo}"/>
		</h:form>
		
	</ui:define>
	
</ui:composition>

